.derecha{
    text-align: right;
}

.centro{
    text-align: center;
}

.izquierda{
    text-align: left;
}

.horizontal{
    width: 100%;
}

span{
    height: 100%;
    width: 100%;
    max-width: 100%;
    font-size: 20px;
    font-weight: bold;
    background-color: greenyellow;
}